name: test

on:
  pull_request:

jobs:
  pytest:
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os: ["ubuntu-latest"]
        include:
          - os: windows-latest
            python-version: "3.9"
          - os: macos-latest
            python-version: "3.9"

      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: pytest (${{ matrix.os }}, ${{ matrix.python-version }})

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        shell: bash
        run: uv run pytest
